*
{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
}

.nav{
        display: flex;
}
.nav li
{
        
        list-style-type: none;
        display: inline-block;
        text-align: center;
        font-size: 20px;
        padding: 20px;
}
.nav a:link
{
        color: black;
        padding: 14px 25px;
        text-decoration: none;
}
.nav a:hover
{
        color: coral;
        background-color: #eee4eb;
        padding: 14px 25px;
        text-decoration: underline;
        
}

#list2
{
        display: flex;  
}
#list2 li
{      
        font-family: Arial, Helvetica, sans-serif;
        list-style-type: none;
        display: inline;
        font-size: 20px;
        
}
#list2 a:link
{
        color: black;
        text-decoration: none;
}
 #list2 a:hover
 {
color: darkorange;
text-decoration: underline;
 }


 .slash
 {
         padding:0px 30px;
 }

 #para
 {
         width: 50%;
 }
.cont
{
        display: flex;
        align-content: center;
}

.images
 {
  padding: 20px;
  align-content: center;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
 }